<table class="simple_table" border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="">
  <tr><td class="title center">Contato pelo site<br /><br /></td></tr>
  <tr>
    <table align="center" class='table'>
    	<tbody>
    		<tr>
    			<td class="strong">Nome</td>
    			<td><%= @contact_form.name %></td>
    		</tr>
    		<tr>
    			<td class="strong">Email</td>
    			<td><%= @contact_form.email %></td>
    		</tr>
    		<tr>
    			<td class="strong">Telefone</td>
    			<td><%= [@contact_form.phone_area_code, @contact_form.phone_number].join(' ') %></td>
    		</tr>
    		<tr>
    			<td class="strong">Assunto</td>
    			<td><%= @contact_form.subject %></td>
    		</tr>
    		<tr>
    			<td class="strong">Mensagem</td>
    			<td><%= simple_format(@contact_form.message_body) %></td>
    		</tr>
    		<tr>
    			<td class="strong">IP de origin</td>
    			<td><%= simple_format(@contact_form.origin_ip) %></td>
    		</tr>
    		<tr>
    			<td class="strong">User Agent</td>
    			<td><%= simple_format(@contact_form.user_agent) %></td>
    		</tr>
    		<tr>
    			<td class="strong">Data</td>
    			<td><%= Time.zone.now.to_s(:long) %></td>
    		</tr>
    	</tbody>
    </table>
  </tr>
</table>
