<table border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="">
  <tr><td class="introTitle"><%= @intro_title %></td></tr>
  <tr>
    <td class="introContent"><%= @content %><br /><br />
      <%= @closing %>, <br /><%= @tecescola_team %>
    </td>
  </tr>
</table>

