<table border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="">
  <tr><td class="introTitle"><%= @intro_title %></td></tr>
  <tr>
	  <td class="introContent"><%= @intro_content %><br /><br />

    <%= link_to @link_message, "#{CDI::Config.site_url}/recuperar-senha/#{@user.reset_password_token}" %><br /><br />

    <%= @link_doesnt_work %><br />

    <%= "#{CDI::Config.site_url}/recuperar-senha/#{@user.reset_password_token}" %><br /><br />

    <%= @thank_you %>, <br /><%= @tecescola_team %>
    </td>
  </tr>
</table>
