<table class="simple_table" border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="">
  <tr><td class="title center">Contato pelo site<br /><br /></td></tr>
  <tr>
	<table align="center" class='table'>
		<tbody>

			<tr>
				<td class="strong">Nome</td>
				<td><%= @feedback_contact.name %></td>
			</tr>
			<tr>
				<td class="strong">Email</td>
				<td><%= @feedback_contact.email %></td>
			</tr>

			<tr>
				<td class="strong">Área da plataforma</td>
				<td><%= @feedback_contact.description %></td>
			</tr>
			<% if @feedback_contact.image.present? && url = @feedback_contact.image.try(:url) %>
				<tr>
					<td class="strong">Imagem/Captura de tela</td>
					<td><%= link_to(url, url) %></td>
				</tr>
			<% end %>
			<tr>
				<td class="strong">Mensagem</td>
				<td><%= simple_format(@feedback_contact.message_body) %></td>
			</tr>
			<tr>
				<td class="strong">IP de origin</td>
				<td><%= simple_format(@feedback_contact.origin_ip) %></td>
			</tr>
			<tr>
				<td class="strong">User Agent</td>
				<td><%= simple_format(@feedback_contact.user_agent) %></td>
			</tr>
			<tr>
				<td class="strong">Data</td>
				<td><%= Time.zone.now.to_s(:long) %></td>
			</tr>
		</tbody>
	</table>
  </tr>
</table>
