<html>
	<head>
		<meta charset="utf-8"/>
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>

		<style type="text/css">
		.title {
			font-weight: bold;
			font-size: 36px;
		}

		.center {
			text-align: center;
		}

		.strong {
			font-weight: bold;
		}

		.simple_table {
			width: 90%;
			margin: 0 auto;
		}

		.simple_table tr td {
			padding: 10px;
		}

		</style>
	</head>
	<body style="padding: 0; margin: 0">
		<div style="width: 100%; text-align: center; font-family: 'Roboto', sans-serif;">

			<table style="min-width: 320px; width: 100%; max-width: 600px; margin: 0 auto; border-collapse: collapse">
				<thead style="background-color: #9bdded">
					<tr>
						<th style="height: 70px"></th>
					</tr>
				</thead>
				<tbody style="background-color: #f0f0f0; color: #8F8F8F">
					<tr>
						<td style="padding: 20px">
							<div class="content-wrapper" style="background-color: #fff; padding: 40px 50px">
								<%= yield %>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<table style="min-width: 320px; width: 100%; max-width: 600px; margin: 0 auto; border-collapse: collapse">
		<tr>
			<tfoot style="text-align: center">
				<tr>
				<td style="padding: 20px; border-bottom: 1px solid #e9e9e9; font-size: 0px">
					<a href="https://www.facebook.com/pageongcdi" style="background-color: #008aff; width: 34px; height: 34px; display: inline-block; padding-top: 6px; box-sizing: border-box; vertical-align: middle" target="_blank">
					<img src="data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAWCAQAAACx896vAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
								AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAADGSURB
								VCjPnZAxDgFBFIa/nVlKJ1BIHEDcQdzAWVzAFVxColbpRKHTiCgkNoQQjYRiY/Mrxs4ui8I3zZv5
								kve/Nwh/6uppqZRpJlpaKc8mFQ0d9craiUAj6bNqKi6obQhAmxIpEXPAMHGq5sWFDjNXGsBS8WpH
								hH3WGmivm0+ItddRXQUCnVVkqFAYYorc06wvGMofXkOnxhy45lodODEjAYSs+n6Ahaqy7l8NkKBc
								s4QkW/mVIBvjx4T/K5u7v2XtvDplOz4A0gnDHvzXiTQAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTUt
								MDgtMDNUMTg6MzM6MzErMDA6MDCMuOI2AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE1LTA4LTAzVDE4
								OjMzOjMxKzAwOjAw/eVaigAAAABJRU5ErkJggg=="/>
					</a>
					<a href="https://twitter.com/ongCDI" style="background-color: #7dc3ff; width: 34px; height: 34px; display: inline-block; padding-top: 6px; box-sizing: border-box; vertical-align: middle" target="_blank">
					<img src="data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAVCAQAAAAK9c1nAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
								AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAADLSURB
								VCjPhZE/rkFBFId/d0JeQfE6FqB5sQQLUOq0LxpWYQk2YAlUIlFokEgUOlHoKCQKlT/FvRE+BWIw
								5n7TnOT3zcmcM+KfLRBSR+4jNjz4cytGWT3Iy4mx6kS8sncr9s2ycm9ppJEWws+SQgDyM4hX1kZx
								jO0ukU4KrDBQpJkq9kQNDV8Uo6OmiuyJSt8+4Ekyfru/biXgoPS9Xqml0HqN0V49zUXfu90dRVEF
								zh5pIn7oAJevylqILF1Pl+Zt9hQ1RoQf8YU2mSvA3RxaOi/u/wAAACV0RVh0ZGF0ZTpjcmVhdGUA
								MjAxNS0wOC0wM1QxODozMzozMiswMDowML1Q+KsAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTUtMDgt
								MDNUMTg6MzM6MzIrMDA6MDDMDUAXAAAAAElFTkSuQmCC"/>
					</a>
					<a href="https://www.youtube.com/user/redecdi" style="background-color: #dd2b49; width: 34px; height: 34px; display: inline-block; padding-top: 8px; box-sizing: border-box; vertical-align: middle" target="_blank">
					<img src="data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAQAAACMnYaxAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
								AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAACfSURB
								VBjTjZE9CsJAEEbfhi0t0nsHEStLf2rvoXewsjGCiI1g4SEE62AjaqeVx5AUAa3yWSxqjFnxTTPw
								+GZgxghqDKiyY8WVT9TQRY69OiJfaKQ3N40V5uVMmfIc1H3KgKywp8maiNDtnBaSjpNaIqCcOhva
								PgkV+n4J+GXK0ifP9Nja0syCiATs1+AjQ2LXWlLMS9yZMyH56/Dm18seU2GDkOE6q68AAAAldEVY
								dGRhdGU6Y3JlYXRlADIwMTUtMDgtMDNUMTg6MzM6NDYrMDA6MDBD2tWhAAAAJXRFWHRkYXRlOm1v
								ZGlmeQAyMDE1LTA4LTAzVDE4OjMzOjQ2KzAwOjAwModtHQAAAABJRU5ErkJggg=="/>
					</a>
				</td>
				</tr>
				<tr>
				<td style="color: #afafaf; font-size: 12px; padding: 20px 0px; line-height: 20px">© TecEscola. Todos os direitos reservados. Leia nosso <a href="<%= CDI::Config.site_url %>/termos-de-uso" style="color: #9bdded"  target="_blank">Termo de Serviço</a>.</td>
				</tr>
			</tfoot>
		</tr>
	</table>
	</body>
</html>
