<!-- USER FULLNAME -->
<h1 style="font-size: 20px; font-weight: 400; margin-top: 0px; margin-bottom: 20px">
	<%= @greeting %>, <br /><span style='font-size: 15px'><%= @welcome %></span>
</h1>
<% if @user.backoffice_profile? %>
	<p style="font-size: 14px; font-weight: 300; line-height: 20px"><%= @message_backoffice %></p>
<% else %>
	<p style="font-size: 14px; font-weight: 300; line-height: 20px"><%= @message_regular %></p>
<% end %>

<%= link_to @link_message, "#{CDI::Config.site_url}", style: "background-color: #9bdded; display: block; width: 100%; font-size: 20px; color: white; text-align: center; text-decoration: none; padding: 10px 0px; margin: 25px 0px", target: "_blank" %>

<p style="font-size: 14px; font-weight: 300; line-height: 20px"><%= @closing %></p>

<p style="margin-bottom: 0px"><%= @cdi_team %></p>
